<h2 style="color: #2e6c80;">Laboratory assignment 1</h2>
        <h1 style="color: #5e9ca0;">Your assignment question is <span style="color: #2b2301;">problem statement</span></h1>
        <p>In this challenge, you will be given an array and must determine an array . There is a special rule: For all , . That is, can be any number you choose such that . Your task is to select a series of given such that the sum of the absolute difference of consecutive pairs of is maximized. This will be the array's cost, and will be represented by the variable below. <br />Input will be of this format here&gt;</p>
        <p><span style="background-color: #2e6c80; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">Difficulty - Medium</span></p>
    <h2 style="color: #2e6c80;">Constraints</h2>
    <ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
        <li style="clear: both;"><span style="color: #2e6c80;">Time Limit </span><strong>2 seconds</strong></li>
        <li style="clear: both;"><span style="color: #2e6c80;">Memory Limit </span><strong>2 seconds</strong></li>
        <li style="clear: both;"><span style="color: #2e6c80;">Input </span><strong>10000 &lt;= n &lt;= 0</strong></li>
    </ol>
    <h2 style="color: #2e6c80;">Tags</h2>
        <p><span style="background-color: #2e6c80; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">Data structures</span> <span style="background-color: #2e6c80; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">Algorithms</span></p>
    <h2 style="color: #2e6c80;">Source code</h2>
        <p><strong>&nbsp;</strong></p>
<p><strong>Save this link into your bookmarks and share it with your friends. It is all FREE! </strong><br /><strong>Enjoy!</strong></p>
