<!DOCTYPE html>
<html lang="fr">
    
    <head>
            <meta name="viewport" content="user-scalable=no, width=device-width" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></head>
<head>
 
    
    <meta charset="utf-8" />
    <title>CodeStreak</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='compiler/static/devc.css') }}">

    
</head>
{% block back %}
{% endblock %}

<h1 style="font-size:190% ;color:black ; font-weight: bold" >Problem Statement :</h1>
    <h2 style="font-size:200% ;color:#2e6c80; font-weight: bold" >
            {% block que_name %}
            {% endblock %}        
    </h2> 

<p class ="border"></p>


<!--
<div class="w3-container" style="float: right" >
        
        
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open Complete Question</button>
      
        <div id="id01"  class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              {% block question %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>-->
      

<body id="index" class="home">
  <!--  <h3 style="font-size:120% ;color:brown ; font-weight: bold" >Problem Statement</h3>-->



    






<!--<div id="links" styl="position:relative">
<ul>
<li><a href="/">C Code</a></li>
<li><a href="/cpp">C++ Code</a></li>
<li><a href="/py">Python Code</a></li>
</ul>
</div>-->
<div style="font-size:120% ;color:#2e6c80; font-weight: bold"  id="text-code-title">
        Source Code
</div>
<form method="post" action="{{ url_for(target) }}">
<div id="content">
    <!-- ************  CODING ZONE  ************ -->
    <div style="width:70%" >
       
           
	        {% block code %}
            {% endblock %}



            <div id="question-div" style="overflow-y: scroll; background-color:white" class="card" style="font-size:120%">
               
                         {% block question_copy %}
                        {% endblock %}
            </div>

	<div id="input">
        <div id="title-input" style="font-size:120% ;color:#2e6c80; font-weight: bold"  class="head-section">
            Input
        </div>

	        {% block input %}
            {% endblock %}
    </div>

  

    </div>



  <!-- ************ COMPILATION RESULTS ZONE ************ -->
    
        <div id="compile">
            <div id="title-compile" style="font-size:120% ;color:#2e6c80; font-weight: bold" class="head-section">
                Compilation / Output
            </div>
        

            {% block comp %}
            {% endblock %}
        </div>

</div>



<div style="font-size:120% ;color:#2e6c80 ; font-weight: bold"   id="text-code-title" >

    <input id="submit" class="button buttonround" name ="submit" type="submit" value="Submit" />
</div>

<div id="custom">
    <input id="cus" type="submit" class="button buttonround" name="submit" value="Run Code"/>
 </div>

	

 </form>
       
    
    
    <!-- ************ RUNNING ZONE RESULTS ************ -->
    
  <!--- <div id="result">
        <div id="title-result" class="head-section">
            Output result
        </div>
        {% block run %}
        {% endblock %}
    </div> -->

<!-- ****Input **** -->

    
  
    


<form action="{{ url_for('submission') }}" method="post">
    <div id="submission">
    <input id="submit-button" type="submit" class="button buttonround" value="View Submissions"/>
    </div>
</form>



</body>

<script src="{{ url_for('static', filename='compiler/static/ace/ace.js') }}"></script>

<script>
    // The Ace editor needs divs instead of textareas
    // So we hide the textarea and show a div instead
    var editorElement = document.getElementById("text-code");
    editorElement.classList.add("hidden");
    document.getElementById("text-code-ace").classList.remove("hidden");

    // Set up the editor
    var editor = ace.edit("text-code-ace");
    editor.setFontSize(17);
    editor.setTheme("ace/theme/monokai");
    var language = ("{{ target }}" === "runpy") ? "python" : "c_cpp";
    editor.getSession().setMode("ace/mode/" + language);

    // Make sure we copy the content of the editor to the textarea before posting
    // its content to the server
    document.getElementById("submit").addEventListener("click", function () {
        editorElement.innerHTML = editor.getValue();
	
    });
	 document.getElementById("cus").addEventListener("click", function () {
        editorElement.innerHTML = editor.getValue();
	
    });
</script>

</html>
