<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  
  <title>FAQ-Page</title>
  <link rel="stylesheet" href="{{ url_for('static',filename = 'mobirise-icons.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename = 'tether.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename = 'bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename = 'bootstrap-grid.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename = 'bootstrap-reboot.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename = 'theme-style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename = 'mbr-additional.css')}}" type="text/css">

</head>

<body style = "background-color:rgb(224,224,224);">
	<section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0" style = "background-color:rgb(0,0,0);">
		<nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
			
			<div class="menu-logo">
				<div class="navbar-brand">
					
					<span class="navbar-caption-wrap"><a class="navbar-caption text-white display-5" href="{{ url_for('student_dashboard')}}"><span class="mbri-desktop mbr-iconfont mbr-iconfont-btn"></span>
							Dashboard</a></span>
				</div>
			</div>
			<div class="container align-center">
				<h2 class="mbr-section-title pb-3 mbr-fonts-style text-white display-1"><em><strong>
					Frequently Asked Questions</strong></em></h2>
			</div>
			<br/>
				
		</nav>
		
	</section>
	<section>
		<nav class="navbar align-items-center navbar-fixed-top navbar-toggleable-sm">
		<h3 class="mbr-section-subtitle pb-5 mbr-fonts-style text-white display-5">
					Figure out the answers to all your questions over here !</h3>
		</nav>
	</section>
	
	<section class="timeline2 cid-r9IsipqWIA" id="timeline2-8" style = "background-color:rgb(22,22,22);">
		<div class="container align-center">
							
			<div class="container timelines-container" mbri-timelines="">
				<div class="row timeline-element reverse separline">      
					<span class="iconsBackground">
						<span class="mbri-pages mbr-iconfont"></span>
					</span>          
					<div class="col-xs-12 col-md-6 align-left">
						<div class="timeline-text-content">
							<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
								What is this website about ?
							</h4>
							<p class="mbr-timeline-text mbr-fonts-style display-7">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
							</p>
						 </div>
					</div>
				</div>

				<div class="row timeline-element  separline">
					<span class="iconsBackground">
						<span class="mbri-responsive mbr-iconfont"></span>
					</span>
					<div class="col-xs-12 col-md-6 align-left ">
						<div class="timeline-text-content">
							<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
								How do we use the website ?
							</h4>
							<p class="mbr-timeline-text mbr-fonts-style display-7">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
							</p>
						</div>
					</div>
				</div> 

				<div class="row timeline-element reverse separline">
					<span class="iconsBackground">
						<span class="mbri-watch mbr-iconfont"></span>
					</span>
					<div class="col-xs-12 col-md-6 align-left">
						<div class="timeline-text-content">
							<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
								What can we do in this website ?
							</h4>      
							<p class="mbr-timeline-text mbr-fonts-style display-7">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
							</p>
						</div>
					</div>
				</div>

				<div class="row timeline-element  separline">
					<span class="iconsBackground">
						<span class="mbri-shopping-basket mbr-iconfont"></span>
					</span>
					<div class="col-xs-12 col-md-6 align-left ">
						<div class="timeline-text-content">
							<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
								How to create a contest ?
							</h4>
							<p class="mbr-timeline-text mbr-fonts-style display-7">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
							</p>
						</div>
					</div>
				</div>

				<div class="row timeline-element reverse separline">
					<span class="iconsBackground">
						<span class="mbri-new-file mbr-iconfont"></span>
					</span>
					<div class="col-xs-12 col-md-6 align-left">
						<div class="timeline-text-content">
							<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
								How to add questions to the database ?
							</h4>
							<p class="mbr-timeline-text mbr-fonts-style display-7">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
							</p>
						</div>
					</div>
				</div>

				<div class="row timeline-element separline">
					<span class="iconsBackground">
						<span class="mbri-pages mbr-iconfont"></span>
					</span>
					<div class="col-xs-12 col-md-6 align-left ">
						<div class="timeline-text-content">
							<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
								What platform do we code in ?
							</h4>
							<p class="mbr-timeline-text mbr-fonts-style display-7">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
							</p>
						</div>
					</div>
				</div>

				<div class="row timeline-element reverse separline">
					<span class="iconsBackground">
						<span class="mbri-responsive mbr-iconfont"></span>
					</span>
					<div class="col-xs-12 col-md-6 align-left">
						<div class="timeline-text-content">
							<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
								Are there any performance measures ?
							</h4>
							<p class="mbr-timeline-text mbr-fonts-style display-7">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
							</p>
						</div>
					</div>
				</div>

				<div class="row timeline-element separline">
					<span class="iconsBackground">
						<span class="mbri-watch mbr-iconfont"></span>
					</span>
					<div class="col-xs-12 col-md-6 align-left ">
						<div class="timeline-text-content">
							<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
								What can I do as a Student ?
							</h4>
							<p class="mbr-timeline-text mbr-fonts-style display-7">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
							</p>
						</div>
					</div>
				</div>

				<div class="row timeline-element reverse separline">
					<span class="iconsBackground">
						<span class="mbri-shopping-basket mbr-iconfont"></span>
					</span>
					<div class="col-xs-12 col-md-6 align-left">
						<div class="timeline-text-content">
							<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
								What can I do as a Professor ?
							</h4>
							<p class="mbr-timeline-text mbr-fonts-style display-7">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
							</p>
						</div>
					</div>
				</div>

				<div class="row timeline-element">
					<span class="iconsBackground">
						<span class="mbri-new-file mbr-iconfont"></span>
					</span>
					<div class="col-xs-12 col-md-6 align-left ">
						<div class="timeline-text-content">
							<h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
								What can I do as an Admin ?
							</h4> 
							<p class="mbr-timeline-text mbr-fonts-style display-7">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
  
  <script src="{{ url_for('static',filename = 'popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename = 'tether.min.js')}}"></script>
  <script src="{{ url_for('static',filename = 'bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static',filename = 'smooth-scroll.js')}}"></script>
  <script src="{{ url_for('static',filename = 'script.min.js')}}"></script>
		
</body>
</html>
