{% extends "base.html" %}
{%block back %}
<a href="{{ url_for('contest_page', cid=c_id) }}">
<button  class="button buttonround" style="float:right;width:9%;height: 5%;" type ="submit" id="somebutton">Back to Contest</button></a>

{% endblock %}
{%block question %}
<h2 style="color: #2e6c80;">Laboratory assignment 1</h2>
                <h1 style="color: #5e9ca0;">Your assignment question is <span style="color: #2b2301;">{{question['name']}}</span></h1>
                <p> {{question['problem']}} <br />Input will be of this format here&gt;</p>
                <p><span style="background-color: #2e6c80; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">Difficulty - Medium</span></p>
                <h2 style="color: #2e6c80;">Constraints</h2>
                <ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
                    <li style="clear: both;"><span style="color: #2e6c80;">Time Limit </span><strong>{{question['time_limit']}}</strong></li>
                    <li style="clear: both;"><span style="color: #2e6c80;">Memory Limit </span><strong>{{question['memory_limit']}}</strong></li>
                    <li style="clear: both;"><span style="color: #2e6c80;">Input </span><strong>10000 &lt;= n &lt;= 0</strong></li>
                </ol>
                <h2 style="color: #2e6c80;">Tags</h2>
                <p><span style="background-color: #2e6c80; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{question['tags'][0]}}</span>
                <span style="background-color: #2e6c80; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{question['tags'][1]}}</span></p>

{% endblock %}

{%block que_name %}

<div>{{question['name']}}</div>
{% endblock %}

{%block question_copy %}
<!--<div>{{question['name']}}</div>
<div id="text-question" name="question">{{question['question']}}</div>
<div>{{question['time']}}</div>
<div>{{question['memory']}}</div>
</div>{{question['tags']}}</div>-->

<h2 style="color: #2e6c80;">Laboratory assignment 1</h2>
                <p style="font-size: 20px;"> {{question['problem']}} <br />Input will be of this format here&gt;</p>
                <p><span style="background-color: #2e6c80; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">Difficulty - Medium</span></p>
                <h2 style="color: #2e6c80;">Constraints</h2>
                <ol style="list-style: none; font-size: 18px; line-height: 32px; font-weight: bold;">
                    <li style="clear: both;"><span style="color: #2e6c80;">Time Limit </span><strong>{{question['time_limit']}}</strong></li><br>
                    <li style="clear: both;"><span style="color: #2e6c80;">Memory Limit </span><strong>{{question['memory_limit']}}</strong></li><br>
                    <li style="clear: both;"><span style="color: #2e6c80;">Input </span><strong>10000 &lt;= n &lt;= 0</strong></li>
                </ol>
                <h2 style="color: #2e6c80;">Tags</h2>
                <p><span style="background-color: #2e6c80; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{question['tags'][0]}}</span>
                <span style="background-color: #2e6c80; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{question['tags'][1]}}</span></p>



{% endblock %}


{% block code %}
<textarea id="text-code" name="code" rows={{ rows }} cols={{ cols }}>
{{ code }}
</textarea><br/>
<div style="width:64%" id="text-code-ace" class="hidden">{{ code }}</div>
{% endblock %}

<!--{% block run %}
<textarea id="text-result" rows="18" cols="70" readonly>{{ resrun }}</textarea>

{% endblock %}-->

{% block input%}
<textarea id="text-input" name="resinput" rows="7" cols="140"></textarea>


{% endblock %}
{% block comp %}
<div   style="list-style: none; font-size: 18px; line-height: 32px; font-weight: bold;" id="text-compile" rows="7" cols="140" readonly><span style="color: #2e6c80;">Your Output :</span>{{resrun}} {{ rescomp }} 
    {%if display_output | length == 6  %}
    
    <ol style="list-style: none; font-size: 18px; line-height: 32px; font-weight: bold;">
            <li style="clear: both;"><span style="color: #2e6c80;"> </span><strong><span style="background-color: rgb(194, 194, 194); color: #000; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{display_output['Submission_status']}}</span></strong>
            </li><br>
        {% if status == "Correct Answer" %}
       
        <li style="clear: both;"><span style="color: #2e6c80;">Submission Status <img src="/static/green.jpg" width = "25px" height = "25px"></span><strong><span style="background-color: #228B22; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{status}}</span></strong>
        </li><br>
        
        {% else %}
        <li style="clear: both;"><span style="color: #2e6c80;">Submission Status <img src="/static/red.jpeg" width = "25px" height = "25px"></span><strong><span style="background-color: #FF0000; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{status}}</span></strong>
        </li><br>
        {%endif%}
        <li style="clear: both;"><span style="color: #2e6c80;">Correct test cases </span><strong>{{display_output['correct_cases']}}  </strong>out of {{display_output['total_cases']}}</li><br>
        <li style="clear: both;"><span style="color: #2e6c80;">Total Score</span><strong>{{display_output['score']}}</strong></li><br>
        <li style="clear: both;"><span style="color: #2e6c80;">Time taken </span><strong>{{display_output['time']}}</strong></li><br>
        <li style="clear: both;"><span style="color: #2e6c80;">Memory taken </span><strong>{{display_output['memory']}}</strong></li><br>
        <li style="clear: both;"><span style="color: #2e6c80;"> Test Case Result :-</span><br><strong>
        <table id="customers">
                    <tr>
                            <th>Result</th>
                            <th>Accepted</th>
                            <th>Time/Memory</th>
                    </tr>
                <tbody>         
            {% for test_case in test_case_output %}
        <tr>
              <td>
        {% if test_case['result'] == "Correct answer" %}<li style="clear: both;">
                <span style="background-color: #228B22; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{test_case['result']}}</span></strong>
            </td>
            <td>
                    <span style="color: #2e6c80;"><img src="/static/green.jpg" width = "25px" height = "25px"></span><strong>
           
            </td>
            <td>
            <span style=" color: #000; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{test_case['time']}}</span>
            <span style=" color: #000; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{test_case['memory']}}</span>
            </td>
        </li>

    </tr>
    
        <td>
        {% else %}
        
        <li style="clear: both;">
                <span style="background-color: #FF0000; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{test_case['result']}}</span></strong>
                </td>
                <td>
                        <span style="color: #2e6c80;"><img src="/static/red.jpeg" width = "25px" height = "25px"></span><strong>
                
                </td>
                <td>
            <span  style="color: #000; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{test_case['time']}}</span>
            <span  style="color: #000; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{test_case['memory']}}</span>
                </td>
        </li>
        {%endif%}
    
        </tr>
        {% endfor %} 
    </tbody>
</table>

</strong>
    </li><br>

    </ol>
    {% elif display_output['Submission_status'] == "Successful" %}

    <ol style="list-style: none; font-size: 18px; line-height: 32px; font-weight: bold;">
        {% if display_output['Submission_status'] == "Successful" %}<li style="clear: both;"><span style="color: #2e6c80;">Submission Status </span><strong> <img src="/static/green.jpg" width = "25px" height = "25px"><span style="background-color: #228B22; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">{{display_output['Submission_status']}}</span></strong></li><br>
        {% else %}<li style="clear: both;"><span style="color: #2e6c80;">Submission Status </span><strong><span style="background-color: rgb(25, 109, 25); color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;"> <img src="/static/red.jpeg" width = "25px" height = "25px">{{display_output['Submission_status']}}</span></strong></li><br>
        {%endif%}
        <li style="clear: both;"><span style="color: #2e6c80;">Time taken </span><strong>{{display_output['time']}}</strong></li><br>
        <li style="clear: both;"><span style="color: #2e6c80;">Memory taken </span><strong>{{display_output['memory']}}</strong></li><br>

    </ol>
    {% endif %}
</div>
{% endblock %}
