

<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		title:{
			text: "Output Analysis"
		},
		legend: {
			maxWidth: 1050,
			itemWidth: 120
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			legendText: "{indexLabel}",
			dataPoints: [
				{ y: 4181, indexLabel: "Accepted" },
				{ y: 2175, indexLabel: "Wrong Answer" },
				{ y: 3125, indexLabel: "TLE" },
				{ y: 1176, indexLabel: "Memory Error"},
				{ y: 1727, indexLabel: "Compiler Error" }
				
			]
		}
		]
	});
	chart.render();
}
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
<div id="chartContainer" style="height: 500px; width: 100%;"></div>
</body>
</html>