

<!DOCTYPE HTML>
<html>
<head>
<title>Student Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
</head>
	<body class="single is-preload"  style="background-image:url(back.jpg)">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">My Profile</a></h1>
						<nav class="links">
							<ul>
								
								
								<li><a href="#">Dashboard</a></li>
							
							</ul>
						</nav>
						<nav class="main">
							<ul>
								
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="">
											<h3>Homepage</h3>
											<p>About us : Why use CodeStreak</p>
										</a>
									</li>
									<li>
									<li>
										<a href="#">
											<h3>Edit Profile Settings</h3>
										</a>
									</li>
									
									
								</ul>
							</section>
							<section>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Log Out</a></li>
								</ul>
							</section>

					</section>
					<div id="main">

						<!-- Post -->
							<article class="post" style="background-color:#D4EEFC">
								<header style="background-color:#ADD1E5">
									<div class="title">
										<h2><a href="#"><font color="black">Contest Stats</font></a></h2>
										<p> <h3>USN</h3></p>
									</div>
									<div class="meta" >
										
										<a href="#" class="author"><span class="name">Student Name</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								
								<div class="title" style="background-color:rgb(0,0,0);border-radius:15px" id="Lab">
										<h2 style="margin-left:10px"><font color="white">Result Analysis</font></h2>
										<div style="padding:10px"><h3><font color="white">Current Rating: 1745 <br>Best Rating: 1815 <br>PES-U Rank: 81 <br>Batch Rank: 31 </font></div></h3>
										<p id=1 >
											<div class="title" style="padding:10px;margin-left:600px;height: 300px; width: 50%;"" id="chartContainer" >
											
											<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		title:{
			text: "Output Analysis"
		},
		legend: {
			maxWidth: 1050,
			itemWidth: 120
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			legendText: "{indexLabel}",
			dataPoints: [
				{ y: 4181, indexLabel: "Accepted" },
				{ y: 2175, indexLabel: "Wrong Answer" },
				{ y: 3125, indexLabel: "TLE" },
				{ y: 1176, indexLabel: "Memory Error"},
				{ y: 1727, indexLabel: "Compiler Error" }
				
			]
		}
		]
	});
	chart.render();
}
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
											
											
											
										
										<br><br>
										
										</p>
										<br><br>
										</div>
										<br><br>
								</div>
								<br><br>
								
								
								
							</article>
							

					</div>
					
					
					</div>
						
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>


