

<!DOCTYPE HTML>
<html>
<head>
<title>Student Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
</head>
	<body class="single is-preload" >

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>My Profile</h1>
						<nav class="links">
							<ul>
								
								
								<li><a href="{{ url_for('student_dashboard')}}">Dashboard</a></li>
							
							</ul>
						</nav>
						<nav class="main">
							<ul>
								
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="">
											<h3>Homepage</h3>
											<p>About us : Why use CodeStreak</p>
										</a>
									</li>
									<li>
									<li>
										<a href="#">
											<h3>Edit Profile Settings</h3>
										</a>
									</li>
									
									
								</ul>
							</section>
							<section>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Log Out</a></li>
								</ul>
							</section>

					</section>
					<div id="main">

						<!-- Post -->
							<article class="post" style="background-color:#E0E0E0">
								<header style="background-color:#F0F0F0">
									<div class="title">
										<h2><a href="#"><font color="black">Contest Stats</font></a></h2>
										<p> <h3>{{usn}}</h3></p>
									</div>
									<div class="meta" >
										
										<a href="{{ url_for('profile_page')}}" class="author"><span class="name">{{name}}</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								
								<div class="title" style="background-color:white;border-radius:15px" id="Lab">
										<h2 style="margin-left:10px"><font color="black">Result Analysis</font></h2>
										<div style="padding:10px"><h3><font color="black">Current Rating:{{rating}}  <br>Best Rating:{{best_rating}}  <br>Semester: {{semester}} <br>Section: {{section}} </font></div></h3>
										<img src = "{{ url_for('static', filename = img_path ) }}" style="margin-left:600px;height:350px;top:-30px;">
										<!--<p id=1 >
											<div class="title" style="padding:10px;margin-left:600px;height: 100px; width: 50%;top:-10px;" id="chartContainer" >
												
											
											
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
											
											
											
										
										
										
										</p>
										
										</div>-->
										
								</div>
								<br><br>
								
								
								
							</article>
							

					</div>
					
					
					</div>
						
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>


