<!DOCTYPE html>
<html lang="en">
		
	<h2 align="center">All Submissions</h2>
<head>
	<title> Your Submissions</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='compiler/static/images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='compiler/static/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='compiler/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='compiler/static/vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='compiler/static/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='compiler/static/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='compiler/static/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='compiler/static/css/main.css') }} ">
<!--===============================================================================================-->
</head>
<body>
		
		<input class="button button4" type="button" id="somebutton" value="Back">
	<div class="limiter">
			
					
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								
								<th class="column1">Submission status</th>
								<th class="column2">Time Taken</th>
								<th class="column3">Test Cases Passed</th>
								<th class="column4">Memory</th>
								<th class="column5">Score</th>
								
							</tr>
						</thead>
						<tbody>
							
								   {% for submission in output %}
						        <tr>
						            <td>{{submission['status']}}</td>
						            <td>{{ submission['submit_time'] }}</td>
						            <td>{{ submission['score']}}</td>

						            <td>{{ submission['test_case_status']}}</td>
						            
						            <td>{{ submission['score']}}</td>
						        </tr>
        							{% endfor %}
											
								
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
		

		

		

	</div>


	

<!--===============================================================================================-->	
	<script src="{{ url_for('static', filename='compiler/static/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='compiler/static/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='compiler/static/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='compiler/static/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='compiler/static/js/main.js') }}"></script>

</body>
</html>